name: Run unit tests
on:
  pull_request:
    branches: [main]
    types: [opened, synchronize]
    paths-ignore:
      - '**/*.md'
      - '*.md'

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  model-signing-unit-tests:
    name: Run unit tests for signing
    runs-on: ${{ matrix.os.runner_name }}
    strategy:
      fail-fast: false # Don't cancel other jobs if one fails
      matrix:
        os:
          - runner_name: ubuntu-latest
            os_family: Linux
          - runner_os_name: macos-latest
            os_family: Darwin
          - runner_name: windows-latest
            os_family: Windows
    steps:
    - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
    - uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5.1.0
      with:
        python-version: 3.11
        cache: pip
        cache-dependency-path: |
          model_signing/install/requirements_${{ matrix.os.os_family }}.txt
          model_signing/install/requirements_test_${{ matrix.os.os_family }}.txt
    - name: Install dependencies
      run: |
        set -exuo pipefail
        python -m venv venv
        .github/workflows/scripts/venv_activate.sh
        python -m pip install --require-hashes -r model_signing/install/requirements_${{ matrix.os.os_family }}.txt
        python -m pip install --require-hashes -r model_signing/install/requirements_test_${{ matrix.os.os_family }}.txt
    - name: Run unit tests
      run: |
        set -euo pipefail
        .github/workflows/scripts/venv_activate.sh
        # NOTE: option --full-trace may be useful for troubleshooting.
        # TODO(#68): Remove the need to create this folder.
        mkdir testdata
        pytest -v .
